@use 'style';

:host {
  display: block;
  width: 400px;
  height: 500px;
  margin: auto;
  overflow-y: scroll;

  ::ng-deep {
    .spacer {
      flex-grow: 1;
    }
  }
}

button {
  &.selected {
    background: rgba(white, 0.3);

  }
}
