@use 'style';

:host {
  display: block;
  width: 400px;
  height: 500px;
  margin: auto;
}

.spacer {
  flex-grow: 1;
}

.container {
  width: 100%;
  padding: 0 10px;
}

app-result {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
