<header>
  <button mat-icon-button color="primary" (click)="save()">
    <mat-icon>save</mat-icon>
  </button>

  <button mat-icon-button color="warn">
    <mat-icon>delete</mat-icon>
  </button>
</header>

<mat-form-field appearance="outline">
  <mat-label>Nom du groupe</mat-label>
  <input matInput>
</mat-form-field>

<mat-divider></mat-divider>

<mat-form-field appearance="outline">
  <mat-label>Adresses mails</mat-label>
  <mat-chip-grid #chipGrid aria-label="Entrer un email.">
    <mat-chip-row *ngFor="let email of editingGroup.emails"
                  (removed)="remove(email)"
                  [editable]="true"
                  (edited)="edit(email, $event)">
      {{email}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>

    <input placeholder="exemple@exemple.com"
           [matChipInputFor]="chipGrid"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="true"
           (matChipInputTokenEnd)="add($event)"/>
  </mat-chip-grid>
</mat-form-field>
