:host {
  display: block;
  text-align: center;
}

header {
  text-align: left;
}

.save {
  float: right;
}

mat-divider {
  margin-bottom: 1em;
}

mat-form-field {
  width: 100%;
  margin-top: 15px;
}
